<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/slick.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

	<link rel="stylesheet" href="stylesheets/main.css">

	<style type="text/css">
		.review_box p {
			margin-bottom: 0px;
			display: inline-block;
			font-weight: 500;
			float: left;
		}

		/* line 1059, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .list {
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
		}

		/* line 1064, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .list li {
			display: inline-block;
		}

		/* line 1067, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .list li a {
			display: inline-block;
			color: #fbd600;
		}

		/* line 1074, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .form-control {
			height: 50px;
			border-radius: 0;
		}

		/* line 1078, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box ::placeholder {
			font-size: 14px;
		}

		/* line 1081, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .btn_3 {
			padding: 13px 39px;
		}

		/* line 1084, /Applications/MAMP/htdocs/palash/cl/august 2019/202. Shop/202 shop html/sass/_product.scss */
		.review_box .contact_form {
			margin-top: 15px;
			clear:both;
		}
		/*-- acouunt--*/
		.user-posts td {
			padding: 20px;
		}

		.user-posts thead {
			background: #7e5128;
			color: #FFFFFF;
		}

		.user-posts {
			border: 1px solid #e5e7ed;
		}

		.user-posts tbody tr {
			border-bottom: 1px solid #e5e7ed;
		}

		.user-posts .pending {
			color: #afa951;
			font-weight: bold;
		}

		.user-posts .accept {
			color: #117711;
			font-weight: bold;
		}

		.user-posts .refuse {
			color: #969696;
			font-weight: bold;
		}
		.rate {
			float: left;
			height: 46px;
			padding: 0 10px;
		}
		.rate:not(:checked) > input {
			position:absolute;
			top:-9999px;
		}
		.rate:not(:checked) > label {
			float:right;
			width:1em;
			overflow:hidden;
			white-space:nowrap;
			cursor:pointer;
			font-size:30px;
			color:#ccc;
		}
		.rate:not(:checked) > label:before {
			content: '★ ';
		}
		.rate > input:checked ~ label {
			color: #ffc700;    
		}
		.rate:not(:checked) > label:hover,
		.rate:not(:checked) > label:hover ~ label {
			color: #deb217;  
		}
		.rate > input:checked + label:hover,
		.rate > input:checked + label:hover ~ label,
		.rate > input:checked ~ label:hover,
		.rate > input:checked ~ label:hover ~ label,
		.rate > label:hover ~ input:checked ~ label {
			color: #c59b08;
		}
	</style>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- HEADER -->
		<%include ../header%>
		<!-- /HEADER -->

		<!--NAV BAR-->
		<%include ../nav-bar%>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">Sản phẩm</a></li>
							<li class="active">Thông tin người bán</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<%include account_nav%>
					<div class="right col-lg-9">
						<h4 class="mb-sm-4 mb-3">Thông tin người bán | <span style="color: #e24f38"><%=seller.username%></span></span></h4>
						<hr class="m-0">
						<div class="col-lg-3">
							<img src="/images/img-01.png" width="100px" height="100px">
						</div>
						<div class="col-lg-6">
							<p><%seller.fullname%></p>
							<p><%if(seller.gender==1){%>Nam<%}else if(seller.gender===0){%>Nữ<%}%></p>
							<div class="view-contact">
								<a class="mb-2 <%if(user==null){%>btn-view-contact<%}%>" data-toggle="collapse" href="#collapseContact" role="button"
								aria-expanded="false" aria-controls="collapseContact">Xem thông tin liên hệ <i
								class="fa fa-angle-down" data-id="<%=seller._id%>"></i> </a>
								<div class="collapse" id="collapseContact" style="margin-top: 10px">
									<%if(user){%>
									<p>Số điện thoại: <%=seller.phone%></p>
									<p>Email: <%=seller.email%></p>
									<p>Facebook: <%=seller.facebook%></p>
									<p>Address: <%=seller.address%></p>
									<%}else{%>
									<p class="append-phone">Số điện thoại: </p>
									<p class="append-email">Email: </p>
									<p class="append-facebook">Facebook: </p>
									<p class="append-address">Địa chỉ:</p>
									<%}%>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<h4 class="mb-sm-4 mb-3 mt-30">Thêm đánh giá</h4>
							<hr class="m-0">
							<div class="review_box col-lg-12">
								<%if(user){%>
								<p>Đánh giá của bạn:</p>
								<div class="rate">
									<input type="radio" id="star5" name="rate" value="5" />
									<label class="label-rate" for="star5" title="text">5 stars</label>
									<input type="radio" id="star4" name="rate" value="4" />
									<label class="label-rate" for="star4" title="text">4 stars</label>
									<input type="radio" id="star3" name="rate" value="3" />
									<label class="label-rate" for="star3" title="text">3 stars</label>
									<input type="radio" id="star2" name="rate" value="2" />
									<label class="label-rate" for="star2" title="text">2 stars</label>
									<input type="radio" id="star1" name="rate" value="1" />
									<label class="label-rate" for="star1" title="text">1 star</label>
								</div>
								<div class="invalid-feedback invalid-point" style="clear: both;display: none;color: red">Vui lòng chọn điểm</div>
								<form class="row contact_form">
									<div class="col-md-8">
										<div class="form-group">
											<textarea class="form-control" name="review_content" rows="3"
											placeholder="Đánh giá" style="height: 100px"></textarea>
											<div class="invalid-feedback d-block invalid-review" style="color: red"></div>
										</div>
									</div>
									<div class="col-md-4 text-left">
										<button style="background: #D10024;padding: 10px 50px; margin-top: 20px" type="button" value="submit" class="primary-btn btn-send-review" data-user="<%=seller._id%>" data-username="<%=user.username%>" >Gửi</button>
									</div>
								</form>
								<%}else{%>
									<p  style="margin: 20px 0"><a href="/login"><span style="color: red">Đăng nhập</span> để viết đánh giá</a></p>
								<%}%>
							</div>

							<table class="user-posts border" style="width: 100%">
								<thead>
									<tr class="text-center">
										<td>Hình ảnh</td>
										<td>Người đánh giá</td>
										<td>Nội dung</td>
										<td>Điểm</td>
										<td>Ngày đăng</td>
									</tr>
								</thead>
								<tbody class ="prepend-review">
									<%seller.reviews.forEach(function(review){
										%>
										<tr>
											<td><img width="60px" height="60px" src="/images/img-01.png"></td>
											<td><a href="/"><%=review.reviewedByUserId.username%></a></td>
											<td class="text-center"><%=review.review%></td>
											<td class="pending"><%=review.point%>/5</td>
											<td><%=getDateCreated(review.created_at)%></td>

										</tr>
										<%
									})%>
								</tbody>
							</table>

						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
				<!-- <div class="right col-lg-9">
                            <h4 class="mb-sm-4 mb-3">Danh sách đánh giá </h4>
                            <hr class="m-0">
                        </div> -->
                        
                    </div>
                </div>
                <!-- /row -->

            </div>
        </div>

        <!-- NEWSLETTER -->
        <div id="newsletter" class="section">
        	<!-- container -->
        	<div class="container">
        		<!-- row -->
        		<div class="row">
        			<div class="col-md-12">
        				<div class="newsletter">
        					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
        					<form>
        						<input class="input" type="email" placeholder="Enter Your Email">
        						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
        					</form>
        					<ul class="newsletter-follow">
        						<li>
        							<a href="#"><i class="fa fa-facebook"></i></a>
        						</li>
        						<li>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        						</li>
        						<li>
        							<a href="#"><i class="fa fa-instagram"></i></a>
        						</li>
        						<li>
        							<a href="#"><i class="fa fa-pinterest"></i></a>
        						</li>
        					</ul>
        				</div>
        			</div>
        		</div>
        		<!-- /row -->
        	</div>
        	<!-- /container -->
        </div>
        <!-- /NEWSLETTER -->

        <!-- FOOTER -->
        <footer id="footer">
        	<!-- top footer -->
        	<div class="section">
        		<!-- container -->
        		<div class="container">
        			<!-- row -->
        			<div class="row">
        				<div class="col-md-3 col-xs-6">
        					<div class="footer">
        						<h3 class="footer-title">About Us</h3>
        						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        						incididunt ut.</p>
        						<ul class="footer-links">
        							<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
        							<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
        							<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
        						</ul>
        					</div>
        				</div>

        				<div class="col-md-3 col-xs-6">
        					<div class="footer">
        						<h3 class="footer-title">Categories</h3>
        						<ul class="footer-links">
        							<li><a href="#">Hot deals</a></li>
        							<li><a href="#">Laptops</a></li>
        							<li><a href="#">Smartphones</a></li>
        							<li><a href="#">Cameras</a></li>
        							<li><a href="#">Accessories</a></li>
        						</ul>
        					</div>
        				</div>

        				<div class="clearfix visible-xs"></div>

        				<div class="col-md-3 col-xs-6">
        					<div class="footer">
        						<h3 class="footer-title">Information</h3>
        						<ul class="footer-links">
        							<li><a href="#">About Us</a></li>
        							<li><a href="#">Contact Us</a></li>
        							<li><a href="#">Privacy Policy</a></li>
        							<li><a href="#">Orders and Returns</a></li>
        							<li><a href="#">Terms & Conditions</a></li>
        						</ul>
        					</div>
        				</div>

        				<div class="col-md-3 col-xs-6">
        					<div class="footer">
        						<h3 class="footer-title">Service</h3>
        						<ul class="footer-links">
        							<li><a href="#">My Account</a></li>
        							<li><a href="#">View Cart</a></li>
        							<li><a href="#">Wishlist</a></li>
        							<li><a href="#">Track My Order</a></li>
        							<li><a href="#">Help</a></li>
        						</ul>
        					</div>
        				</div>
        			</div>
        			<!-- /row -->
        		</div>
        		<!-- /container -->
        	</div>
        	<!-- /top footer -->

        	<!-- bottom footer -->
        	<div id="bottom-footer" class="section">
        		<div class="container">
        			<!-- row -->
        			<div class="row">
        				<div class="col-md-12 text-center">
        					<ul class="footer-payments">
        						<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
        						<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
        						<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
        						<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
        						<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
        						<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
        					</ul>
        					<span class="copyright">
        						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        						Copyright &copy;
        						<script>document.write(new Date().getFullYear());</script> All rights reserved | This
        						template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
        						href="https://colorlib.com" target="_blank">Colorlib</a>
        						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        					</span>
        				</div>
        			</div>
        			<!-- /row -->
        		</div>
        		<!-- /container -->
        	</div>
        	<!-- /bottom footer -->
        </footer>
        <!-- /FOOTER -->
        <!-- jQuery Plugins -->
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/slick.min.js"></script>
        <script src="/javascripts/nouislider.min.js"></script>
        <script src="/javascripts/jquery.zoom.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		$('.btn-view-contact').click(function(){
        			var target = $(this);
        			var id = $(this).attr('data-id');
        			$.ajax({
        				url:'/users/view-contact',
        				type:'post',
        				data:{id:id},
        			}).done(function(res){
        				target.removeClass('btn-view-contact');
        				$('.append-address').html(res.address);
        				$('.append-facebook').html(res.facebook);
        				$('.append-phone').html(res.phone);
        				$('.append-email').html(res.email);
        			}).fail(function(res){
        				if(res.status==401){
        					alert('Vui lòng đăng nhập để xem thông tin');
        				}
        				else{
        					alert('Lỗi! Thử lại sau');
        				}
        			})
        		})
        		$('.btn-send-review').click(function(e){
        			e.preventDefault();
        			var point = $('input[name="rate"]:checked').val();
        			if(typeof point=='undefined'||point==null){
        				$('.invalid-point').show();
        				return false;
        			}
        			var review = $('textarea[name="review_content"]').val();
        			var to_user = $(this).attr('data-user');
        			var username = $(this).attr('data-username');
        			console
        			$.ajax({
        				url:'/users/review',
        				type:'post',
        				data:{to_user:to_user,point:point,review:review},
        			}).done(function(res){
        				var html= '<tr>	<td><img width="60px" height="60px" src="/images/img-01.png"></td><td><a href="/">'+username+'</a></td><td class="text-center">'+res.review.review+'</td><td class="pending">'+res.review.point+'/5</td><td>Vừa xong</td></tr>';
        				$('.prepend-review').prepend(html);
        			}).fail(function(res){
        				var ms = res.responseJSON;
						if(res.status==422){
							ms.errors.forEach(function(error){
								var error_msg = error.msg;
								$('.invalid-'+error.param).html(error_msg).show();
							})
						}
        				else{
        					alert('Lỗi! Thử lại sau');
        				}	
        			})
        		});

        		$('.label-rate').click(function(){
        			console.log($(this));
        			$('.invalid-point').hide();
        			var input = $(this).attr('for');
        			$('input[name="rate"]').prop('checked', false);
        			$('#'+input).prop('checked', true);
        			var ld = parseInt(input.substring(4));
        			$('.rate label').each(function(i,label){
        				if(i>=5-ld){
        					$(this).css({color:"#ffc700"});
        				}
        				else{
        				   	$(this).css({color:"#ccc"});	
        				}
        			})
        			return false;
        		})
        	});
        </script>

    </body>

    </html>

